.footer {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to new lines */
    justify-content: center; /* Center items horizontally */
    align-items: center;
    background-color: black;
    
    margin-top: 0;
    
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 3rem;
    text-align: center; /* Center text in footer */
    margin-bottom: 1rem; /* Add space between content and image */

    border-radius: 0 0 50px 50px;  
}
  
  .footer-content p:first-child {
    margin-right: 0; /* Remove margin */
    font-weight: bold;
    margin-bottom: 1rem; /* Add space below the heading */
  }
  
  .footer-contact {
    display: flex;
    flex-direction: column;
    margin-left: 0; /* Remove margin */
  }
  
  .footer-contact p {
    margin-bottom: 0.5rem;
  }
  
  .footer-img {
    max-width: 100%; /* Ensure image does not exceed container width */
    height: auto;
    margin-top: 1rem;
  }
  
  /* Responsive adjustments */
  @media only screen and (min-width: 768px) {
    .footer {
      padding: 1rem 2rem;
    }
  
    .footer-content {
      flex-direction: row; /* Display content in a row */
    }
  
    .footer-content p:first-child {
      margin-right: 1rem;
      margin-bottom: 0; /* Remove bottom margin */
    }
  
    .footer-contact {
      margin-left: 1rem;
    }
  
    .footer-img {
      width: auto; /* Reset width for larger screens */
      height: 50px;
      margin-top: 0; /* Remove top margin */
    }
  }
  
  @media only screen and (max-width: 767px) {
    .footer-img {
      width: 200px;
    }
  
    .footer-content {
      font-size: 1.5rem;
    }
  }