* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh; /* Make the container take the full height of the viewport */
}

.image-wrapper {
  position: relative;
}

.image {
  width: 100vw;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.Up {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 140px;
}

.Left {
  display: flex;
  align-items: center;
}

.logo {
  padding: 5px;
  margin-right: 7px;
  max-width: 100vh; /* Ensure logo doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
}

.Name {
  font-family: "Rubik Glitch", sans-serif;
  color: aliceblue;
  font-size: 3vw; /* Responsive font size based on viewport width */
  font-weight: 900;
}

.Right {
  display: flex;
  align-items: center;
}

.Down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  bottom: -58%;
  padding: 2vw;
}

.Admin {
  background-color: black;
  color: white;
  border: 2px solid red;
  font-family: "Rubik Glitch", sans-serif;
  font-size: 1.5vw; /* Responsive font size based on viewport width */
  padding: 1vw 2.5vw; /* Responsive padding */
  cursor: pointer;
  transition: background-color 0.2s ease; /* Smooth transition on hover */
  border-radius: 25px;
}

.motto {
  font-family: "Angkor", serif; /* Use Angkor font */
  font-size: 35px; /* Set font size as desired */
  font-weight: 700;
}

.red {
  color: red;
}
.white {
  color: white;
}

.Admin:hover {
  background-color: red;
}

@media screen and (min-width: 1045px) and (max-width: 1280px) {
  .Down {
    bottom: -10vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1044px) {
  .Down {
    bottom: -3vh;
  }
}

@media screen and (max-width: 768px) {
  .Down {
    bottom: 20%;
  }
  .motto {
    font-size: large;
  }
}

@media screen and (max-width: 585px) {
  .Down {
    top: 40%;
  }

  .motto {
    font-size: 12px;
  }
  .logo {
    max-width: 70%; /* Adjusted max-width for smaller screens */
  }
}

@media screen and (max-width: 390px) {
  .Down {
    top: 35%;
  }
}
